@import "bootstrap/bootstrap.less";

@orange: #ef7b10;
@columnWidth: 483px;
@previewTextWidth: 351px;
@previewTextMargin: (@columnWidth - @previewTextWidth) / 2;

.nav {
    text-transform: uppercase;
    color: #8e8777;
    margin-bottom: 0px;
    height: 28px;
    letter-spacing: 1px;
    .kickstarter {
        color: @orange;
        float: right;
    }
    div {
        font-size: 11px;
        height: 11px;
        line-height: 28px;
    }
}

h2 {
    text-align: center;
    color: @orange;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    margin: 28px;
}

.preview {
    width: @columnWidth;
    margin-bottom: @gridGutterWidth;
    .shell {
        width: @columnWidth;
        visibility: hidden;
    }
    .hover {
        position: absolute;
        opacity: 0;
//        &:hover {
            opacity: 1;
            .orange {
                background: @orange;
                opacity: .94;
//            }
        }
        .preview-text {
            z-index: 101;
            color: white;
            text-align: center;
            position: absolute;
            width: @previewTextWidth;
            margin-left: @previewTextMargin;
        }
        .social {
            z-index: 102;
            position: absolute;
            right: 15px;
            top: 15px;
            .facebook {
                margin-bottom: 10px;
            }
        }
    }
}

.pattern {
    width: @columnWidth;
    margin-bottom: @gridGutterWidth;
}

.banner {
    margin-top: 20px;
    margin-bottom: 30px;
    img {
        height: 180px;      
    }
}

.grey-dots {
    background-image: url('/static/img/grey_dot.png');
    background-repeat: repeat-x;
    height: 2px;
}