{% if page.threes contains forloop.index0 %}

<div class="beso">
	{% if beso.name and beso.thanks %}
	    <div class="hover">
	        <div class="beso-text">
	            <table><tr><td>                                
	                <div class="white-dots"></div>
	                <div class="beso-name">to {{ beso.name }}</div>
	                <div class="white-dots"></div>
	                <div class="thanks">{{ beso.thanks }}</div>
	            </td></tr></table>                                
	        </div>

	        <div class="grey">
	            <img src="/static/img/besos/{{ beso.image }}" class="shell">
	        </div>
	    </div>
	{% endif %}

    <img src="/static/img/besos/{{ beso.image }}" alt="{{ beso.name }}" class="visible">
</div>

{% endif %}
