<div class="preview">
    <div class="hover">
        <div class="social">
            <div class="facebook">
                <a href="#">
                    <img src="/static/img/facebook.png">
                </a>
            </div>
            <div class="twitter">
                <a href="http://twitter.com/home?status=stolen" target="_blank">
                    <img src="/static/img/twitter.png">
                </a>
            </div>
        </div>
        <a href="{{ post.url }}">
            <div class="preview-text">
                <table><tr><td>                                
                    <div class="post-number">{{ post.post.number }}</div>
                    <div class="white-dots"></div>
                    <div class="post-location">{{ post.post.location }}</div>
                    <div class="white-dots"></div>
                    <div class="post-date">{{ post.date | date: "%m.%d.%Y" }}</div>
                    <div class="post-summary">
                        <span class="post-title">{{ post.post.title }}.</span>
                        <span class="post-snippet">{{ post.post.snippet }}</span>
                    </div>
                </td></tr></table>                                
            </div>
        </a>

        <div class="orange">
            <img src="/static/img/{{ post.post.cover }}" class="shell">
        </div>
    </div>

    <img src="/static/img/{{ post.post.cover }}" class="preview-image">
</div>