---
layout: default
title: 1,000 Besos

post:
    number: "00"
    title: 1,000 besos
    location: thanking everyone that made this possible
---

{% include post_header.html %}

<div class="row post">
    <div class="span2">
        {% for beso in page.besos offset:0 %}
            {% include beso.html %}
        {% endfor %}
    </div>

    <div class="span2">
        {% for beso in page.besos offset:1 %}
            {% include beso.html %}
        {% endfor %}
    </div>

    <div class="span2">
        {% for beso in page.besos offset:2 %}
            {% include beso.html %}
        {% endfor %}
    </div>
</div>