---
layout: default
title: 1,000 Besos

post:
    number: "00"
    title: 1,000 besos
    location: thanking everyone that made this possible

threes: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
---

{% include post_header.html %}

<div class="row post">
    <div class="span2">
        {% for beso in page.besos offset:0 %}
            {% include beso.html %}
        {% endfor %}
    </div>

    <div class="span2">
        {% for beso in page.besos offset:1 %}
            {% include beso.html %}
        {% endfor %}
    </div>

    <div class="span2">
        {% for beso in page.besos offset:2 %}
            {% include beso.html %}
        {% endfor %}
    </div>
</div>