---
layout: default
title: 1,000 Besos

post:
    number: "00"
    title: 1,000 besos
    location: thanking everyone that made this possible
---

{% include post_header.html %}

<div class="row post">
    <div class="span2">
        {% for_with_interval beso in page.besos offset:0 interval:3 %}
            <img src="/static/img/{{ beso.image }}">
        {% endfor_with_interval %}
    </div>

    <div class="span2">
        {% for_with_interval beso in page.besos offset:1 interval:3 %}
            <img src="/static/img/{{ beso.image }}">
        {% endfor_with_interval %}
    </div>

    <div class="span2">
        {% for_with_interval beso in page.besos offset:2 interval:3 %}
            <img src="/static/img/{{ beso.image }}">
        {% endfor_with_interval %}
    </div>
</div>