---
layout: default
permalink: /posts/{{page.post.number}}
---

{% include post_header.html %}

<div class="row post">
    <div class="span3">
        {% assign image = page.post.images[0] %}
        {% include post-image.html %}
        <div class="post-body">
            {{ content }}
        </div>
        {% include disgus.html %}
    </div>

    <div class="span3">
        {% for image in page.post.images offset:1 %}
            {% include post-image.html %}
        {% endfor %}
    </div>
</div>